.HomeContainer{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../Image/backImg.png');
    min-width: 1440px;
    min-height: 900px;
    background-size: cover;
    background-position: center;
    font-family: montserrat;
}